body{
    margin: 0;
    padding: 0;
    background: rgba(21,32,43,255);
}
p{
    color: #106a00;
}
/* scroll bar */
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: #6649b8;
}
/* navbar */
main{
    margin-right: 5rem;
}
.navbar{
    z-index: 0;
    position: fixed; 
    top: 0; 
    right: 0px;
    width: 3.5rem;
    background-color: #5d5d5d5e;
    border-radius: 50px;
    margin-right: 25px;
    margin-top: 200px;
    transition: transform .2s;
}
.navbar:hover{
    transform: scale(1.2);
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar img {
    z-index: 1;
    width: 40px;
    margin: 10px;
    transition: transform .2s;
}
.navbar img:hover{
    transform: scale(1.5);
}
.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
}
.link-text {
    opacity: 0;
    position: absolute;
    right: 60px;
}
.link-text:hover {
    opacity: 1;
}








